

<h3>  <%= link_to 'New Post', new_post_path ,class: "btn btn btn-outline-secondary" %> </h3>



<% @posts.each do |post| %>
<P align=right>BY <%= post.user.email %></P>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">

    

    <div class="col-6 px-100">
      <h1 class="display-4 fst-italic"><%= post.title %> 

       <!-- the fav code -->
       <% if user_signed_in? %>
        <% current_user.favs.each do |fav| %>
          <% if fav.post.title == post.title %>
          <span class="fa fa-star checked"></span>
          <%end%>
        <% end %> 
        <% end %>

      </h1>







      <p class="lead my-1"><%= post.body[0..300] %></p>
      <p class="lead mb-0"><%= link_to "continue To read...",post %><a href="" class="text-white fw-bold"></a></p>

    </div>
  </div>
<% end %>



<footer class="blog-footer">
  <p>Site Built by Divyansh Dimri <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
</head>
<body>





<style>
body {
  background-image: url('https://wallpapercave.com/wp/wp6568669.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>