<p id="notice"><%= notice %></p>



<div style="width:400px;height:auto">
<%= image_tag (@post.image)%>
</div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Time:</strong>
 <%= @post.time %>
</p>


<%= link_to "Favorite",fav_update_path(post:@post),id:'fav_link',remote:true%>

<p>
  <strong>Body:</strong>
  <%=@post.body%>
</p>

<%= link_to 'Comments', new_post_comment_path(@post, @comment) %>



