<p id="notice"><%= notice %></p>



<div style="width:400px;height:auto">
<%= image_tag (@post.image)%>
</div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Time:</strong>
 <%= @post.time %>
</p>


<%= link_to "fav_text",fav_update_path(post:@post),id:'fav_link',remote:true%>

<p>
  <strong>Body:</strong>
  <%=@post.body%>
</p>

<a  href="http://127.0.0.1:3000/comments/new"> Comments </a>

