


<style>
body {background-color: royalblue;}
h1   {color: blue;}
p    {color: black;}
</style>




<div>
<%= image_tag (@post.image)%>
</div>


<br>


<p>
  <button type="button" class="btn btn-warning" >
  <%= @post.title %>
  </button>
</p>



<button type="button" class="btn btn-success">
<%= link_to "Favorite",fav_update_path(post:@post),id:'fav_link',remote:true%>
</button>
<br><br>

<p>
  <strong>Body:</strong>
  <%=@post.body%>
</p>





<%= form_with model: [@post,@comment] do |f| %>
<%= f.text_field :body %>
<%= f.submit "Comment" %>
<% end %>

<% @comments.each do |c| %>
<% c.body %>
<% end %>

<br><br>



<% if user_signed_in? %>
        <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
        <%end%>