


<style>
body {background-color: royalblue;}
h1   {color: blue;}
p    {color: black;}
</style>




<div>
<%= image_tag @post.image %>
</div>


<br>


<p>
  <strong>
  <%= @post.title %>
  by
  <% if current_user != User.find(@post.user_id) %>
  <%= link_to User.find(@post.user_id).email ,messages_box_path %>
  <% else %>
  You
  <% end %> 
</strong>
</p>



<button type="button" class="btn btn-success">
<%= link_to "Favorite",fav_update_path(post:@post),id:'fav_link',remote:true%>
</button>
<br><br>

<p>

  <%=@post.body%>
</p>

<strong>
Comments:
</strong>
<% @post.comments.each do |comment| %>
          <div class="comment-wrapper">
            <%= comment.user.email %>:
            <%=  comment.body %>
          </div>
        <% end %>





<%= form_with model: [@post,@comment] do |f| %>
<%= f.text_field :body %>
<%= f.submit "Comment" %>
<% end %>



<br><br>



<% if user_signed_in? and current_user == User.find(@post.user_id) %>
        <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
<%end%>